table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}
th {
    background-color: antiquewhite;
}
td {
    background-color: bisque;
}
* {
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
form {
    text-align: left;
    width: 50%;
    max-width: 900px;
    background-color: rgba(76, 76, 76, 0.404);
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    backface-visibility: hidden;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],

textarea{
    width: 100%;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
fieldset{
    width: 25%;
    border-radius: 5px;

}
select{
    width: 18%;
}
form h1{
    text-align: center;
}
input[type="submit"]{
    box-shadow: 2px 2px 2px rgba(28, 28, 28, 0.752);
    width: 25%;
    transition-duration: 0.5s;
    color: rgb(0, 0, 0);
    font-size: large;
    background-color: rgba(64, 237, 150, 0.489);
    padding: 10px 20px;
    border: black 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover{
  
    width: 30%;
    outline: rgb(55, 234, 105) solid 2px;
    border: rgb(255, 255, 255) 2px solid;
    transition-duration: 0.5s;
    background-color: rgb(55, 234, 105);
}
